.grid_columns_container {
    position: relative;
}

.snap_group_all {
    width: 100%;
    position: absolute;
}

.ss_text {
    font-size: 30px;
    font-weight: bold;
}

.red_text {
    color: red;
}


.snap_group_5 .reading_slide_grid{
        position: absolute;
    top: 0%;
    left: 84%;
}
/* ===================================== */
.textImg {
    width: 90%;
    height: 400px;
    box-shadow: 9px 9px 10px #ccc;
    border-radius: 20px;
    display: inline-block !important;
}
.textImg .snap_group_all {
    width: 75%;
    padding: 0px;
    padding-left: 70px;
}
.textImg .ss_text{
    font-size: 28px;
}
.textImg .audioIcon {
    margin-left: 0px !important;
}

.textImg .text_img {
    position: absolute;
    top: 2px;
    right: -200px;
    height: 247px;
}
/* =================================== */

.text_with_imgs .snap_group_all {
    position: static;
    width: 80%;
    background-color: antiquewhite;
    border-radius: 25px;
}

.text_with_imgs .ss_text {
    font-size: 24px;
}

.text_with_imgs .snap_card {
    margin: 0 !important;
}

/* ================================= */
.gridWithTick .ss_text{
    font-size: 24px;
}
.gridWithTick .snap_group_all {
    top: 74px;
}

.grid_img_text {
    transform: scale(0.8);
}