.grid_columns_container {
    position: relative;
}

.snap_group_all {
    width: 100%;
    position: absolute;
}

.ss_text {
    font-size: 30px;
    font-weight: bold;
}

.red_text {
    color: red;
}

/* ===================================== */
.textImg {
    width: 1016px;
    height: 321px;
    /* padding: 0px 20px; */
    box-shadow: 9px 9px 10px #ccc;
    border-radius: 20px;
    display: inline-block !important;
}
.textImg .snap_group_all {
    width: 65%;
}
.textImg .ss_text{
    font-size: 25px;
}
.textImg .audioIcon {
    margin-left: 0px !important;
}

.textImg .text_img {
    position: absolute;
    top: 37px;
    right: 19px;
    height: 247px;
}
/* ================================= */
.gridWithTick .ss_text{
    font-size: 25px;
}