.all_cont {
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.images-border {
  width: 250px;
  /* height: 350px; */
  object-fit: contain;
  /* border: 2px solid #25aae1; */
  border-radius: 25px;
  box-shadow: 2px 5px 10px #9f9e9e;
}

.tickBox {
  position: absolute;
  right: 87px;
  bottom: -62px;
  border-radius: 12px;
  border: none;
  height: 45px;
  width: 60px;
  border: 2px solid #f37f36;
}

.tick_field {
  position: relative;
  width: fit-content;
}

.ans_grup {
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.question_div {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.que {
  width: 100%;
  /* height: 100% !important; */
  display: flex;
  justify-content: center;
  height: fit-content;
  /* background-color: #e4feee; */
  padding: 10px 10px 20px;
  
}

.ans_grup {
  gap: 10px;
}

.heading {
  font-weight: bold;
  font-size: 27px;
  position: absolute;
}

.icon_wrap_holder {
  position: absolute;
  right: 180px;
  top: 180px;
}


/* ============================================= */
@media (max-width: 768px) {

  #paper-textarea {
    line-height: 54.7px;
  }
}
